@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background: #1D232A;
    font-family: 'Open Sans','icones', sans-serif;
    color: #fff;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.16);
}

.cabecalho__menu i::before{
    content: "\e904";
    font-size: 2rem;
}

.cabecalho__notificacao::before{
    content: "\e906";
    font-size: 2rem;
}
.cabecalho__logo{
    width: 4rem;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background: #15191C;
    width: 75vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: left 1s;
}
.menu-lateral--ativo{
    left: 0;

}
.menu-lateral__logo{
    align-self: center;
    width: 7em;
    padding: 2em;
}
.menu-lateral__links{
    height: 3em;
    padding-left: 4em;
    display: flex;
    align-items: center;
    
}
.menu-lateral__links--ativo{
    color: #fff;
    padding-left: 56px;
    border-left: 8px solid #fff;
}
.menu-lateral__links:hover{
    color: rgb(0, 234, 255);

}
.menu-lateral__links::before{
    content: "";
    width: 2em;
    height: 2em;
    font-size: 1rem;
    position: absolute;
    left: 2em;
    display: flex;
    align-items: center;
}



.menu-lateral--inicio::before{
    content: "\e902";
}

.menu-lateral--videos::before{
    content: "\e90e";
}

.menu-lateral--picos::before{
    content: "\e909";
}

.menu-lateral--integrantes::before{
    content: "\e903";
}

.menu-lateral--camisas::before{
    content: "\e900";
}

.menu-lateral--pinturas::before{
    content: "\e90a";
}




