@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background: #1D232A;
    font-family: 'Open Sans','icones', sans-serif;
    color: #fff;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.16);
}

.cabecalho__menu i::before{
    content: "\e904";
    font-size: 2rem;
}

.cabecalho__notificacao::before{
    content: "\e906";
    font-size: 2rem;
}
.cabecalho__logo{
    width: 4rem;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background: #15191C;
    width: 75vw;
    height: 100vh;
}
.menu-lateral__logo{
    align-self: center;
    width: 7em;
    padding: 2em;
}
.menu-lateral__links{
    height: 3em;
}